img {
  width: 400;
  height: 300;
  text-align: center
}
h1 {
  font-size:50px;
}
h2 {
  text-align: center
}

#title {
  font: 70px;
  text-align: center;
  color: paleturquoise;
}
h4 {
text-align: center;
text-align:center;
      color: lightgray;
}

body {
  background-color: lightcoral;
}
   
