img {
  width: 600px;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 25px;
}
h1 {
  font-size:50px;
   text-align: center;
}
h2 {
  text-align: center
}

#title {
  font: 70px;
  text-align: center;
  color: paleturquoise;
}
h5 {
  color: lightgray;
  margin-inline: auto;
  text-align: center;
  width: 75%;
}

body {
  background-color: lightcoral;
}
   
